@page "/ApiAccess"
@using ChatRPG.API
@using Microsoft.IdentityModel.Tokens
@using OpenAiGptMessage = ChatRPG.API.OpenAiGptMessage
@inject ILogger<ApiAccess> Logger
@inject IOpenAiLlmClient OpenAiLlmClient;
@inject IFoodWasteClient FoodWasteClient;

<h1>ApiAccess</h1>

<h2>OpenAI GPT 3.5 Turbo</h2>
<div class="input-group">
    <input class="form-control" @onchange="@OpenAiInput" />
</div>
<br/>
<button class="btn btn-primary" @onclick=CallOpenAiApiWithInput>Call OpenAI GPT 3.5 Turbo with input</button>

@if (_openAiResponse is not null)
{
    <h3>Response: @_openAiResponse</h3>
}

<br/><br/><br/>

<h2>Salling Food-waste</h2>
<div class="input-group">
    <input class="form-control" @onchange="@SallingInput" />
</div>
<br/>
<button class="btn btn-primary" @onclick=CallFoodWasteApiWithZip>Call API with zip</button>

@if (_foodWasteResponses is not null)
{
    <h3>Stores in @_zip with food waste information:</h3>

    @foreach (var item in _foodWasteResponses)
    {
        <div>
            <h3>@item.Store.Name, @item.Store.Address.Street</h3>
            @foreach (var clearance in item.Clearances)
            {
                <h4>Produkt: @clearance.Product.Description</h4>
                <h5>Tilbudspris: @clearance.Offer.NewPrice, Originalpris: @clearance.Offer.OriginalPrice</h5>
                <img src="@clearance.Product.Image"/>
                <br/>
            }
        </div>
        <br/>
    }
}
@code {
    private string _input;
    private string _openAiResponse;
    private string _zip;
    private List<FoodWasteResponse> _foodWasteResponses;

    private async Task OpenAiInput(Microsoft.AspNetCore.Components.ChangeEventArgs patharg)
    {
        _input = (string)patharg.Value;
    }

    private async Task CallOpenAiApiWithInput()
    {
        var input = new List<OpenAiGptMessage> { new ("user", _input) };

        _openAiResponse = await OpenAiLlmClient.GetChatCompletion(input);
    }

    private async Task SallingInput(Microsoft.AspNetCore.Components.ChangeEventArgs patharg)
    {
        _zip = (string)patharg.Value;
    }

    private async Task CallFoodWasteApiWithZip()
    {
        _foodWasteResponses = await FoodWasteClient.GetFoodwasteResponse(_zip);
    }
}
