@page "/Campaign/{Id:int}"
@using OpenAiGptMessage = ChatRPG.API.OpenAiGptMessage

<PageTitle>Campaign - @_campaign?.Title</PageTitle>

<Navbar Username="@_loggedInUsername"/>

<div class="text-center campaign-title">
    <h1>@_campaign?.Title</h1>
</div>

<div class="conversation mx-auto col-8 mt-4 rounded p-5 text-black">
    <div class="conversation-text">
        @foreach (OpenAiGptMessage message in _conversation)
        {
            <OpenAiGptMessageComponent Message="@message"/>
        }
    </div>
</div>

<div class="container">
    <div class="input-group mx-auto col-8 mt-2 mb-5 input-group-border">
        <input type="text" style="resize:vertical;" class="form-control user-prompt custom-text-field"
               @bind="_userInput" placeholder="What do you do?" @onkeyup="@EnterKeyHandler" disabled="@_isWaitingForResponse"/>
        <div class="input-group-append">
            <button class="btn btn-send ml-2" type="button" @onclick="SendPrompt" disabled="@_isWaitingForResponse">
                Send
            </button>
        </div>
    </div>
    <div class="bg-light"></div>
    <input type="button" class="btn btn-primary" value="Save" @onclick="Save" />
</div>

<span id="bottom-id"></span>

<footer class="footer pl-3 text-muted footer-formatting fixed-bottom custom-gray-container">
    <div class="container">
        &copy; 2023 - ChatRPG
    </div>
</footer>
