@page "/Campaign"
@using Microsoft.IdentityModel.Tokens
@using OpenAiGptMessage = ChatRPG.API.OpenAiGptMessage

<PageTitle>Campaign</PageTitle>

<div class="text-center mx-auto">
    <h1>Campaign</h1>
</div>

<div class="conversation mx-auto col-8 mt-4 rounded p-5 text-black">
    <div class="conversation-text">
        @foreach (OpenAiGptMessage message in _conversation)
        {
            <OpenAiGptMessageComponent OpenAiGptMessage="@message"/>
        }
        @if (!_tempMessage.IsNullOrEmpty())
        {
            <div class="@("assistant-message-container")">
                <p class="@("assistant-message")">Assistant: @_tempMessage</p>
            </div>
        }
    </div>
</div>

<div class="container">
    <div class="input-group mx-auto col-8 mt-2 mb-5 input-group-border">
        <input type="text" style="resize:vertical;" class="form-control user-prompt custom-text-field"
               @bind="_userInput" placeholder="What do you do?" @onkeyup="@EnterKeyHandler" disabled="@_isWaitingForResponse"/>
        <div class="input-group-append">
            <button class="btn btn-send ml-2" type="button" @onclick="SendPrompt" disabled="@_isWaitingForResponse">
                Send
            </button>
        </div>
    </div>
</div>

<span id="bottom-id"></span>
