@page "/Campaign"
@using OpenAiGptMessage = ChatRPG.API.OpenAiGptMessage
@using OpenAI_API.Chat

<PageTitle>Campaign - @_campaign?.Title</PageTitle>

<Navbar Username="@_loggedInUsername"/>

<div class="text-center campaign-title" id="campaign-title">
    <h1>@_campaign?.Title</h1>
</div>

<div class="conversation mx-auto col-8 mt-4 rounded p-5 text-black">
    <div class="conversation-text">
        @foreach (OpenAiGptMessage message in _conversation.Where(m => !m.Role.Equals(ChatMessageRole.System)))
        {
            <OpenAiGptMessageComponent Message="@message"/>
        }
    </div>
</div>

<div class="container hstack">
    <div class="input-group mx-auto col-8 mt-2 mb-5 input-group-border">
        <input type="text" style="resize:vertical;" class="form-control user-prompt custom-text-field"
               @bind="_userInput" placeholder="What do you do?" @onkeyup="@EnterKeyHandler" disabled="@_isWaitingForResponse"/>
        <div class="input-group-append">
            <button class="btn btn-primary ml-2" type="button" @onclick="SendPrompt" disabled="@_isWaitingForResponse">
                Send
            </button>
        </div>

    </div>

    <div class="rz-p-12 rz-text-align-center">
        <RadzenSelectBar @bind-Value=@_activePromptType TValue="PromptType" class="mb-5">
            <Items>
                <RadzenSelectBarItem Text="Do" Value="PromptType.Do" />
                <RadzenSelectBarItem Text="Say" Value="PromptType.Say" />
                <RadzenSelectBarItem Text="Attack" Value="PromptType.Attack" />
            </Items>
        </RadzenSelectBar>
    </div>

    @if (_hasScrollBar)
    {
        <button class="btn-scroll-to-top text-xl-center rounded" @onclick='() => ScrollToElement("campaign-title")'>
            <i class="bi bi-arrow-bar-up fs-3"></i>
        </button>
    }
</div>

<span id="bottom-id" style="margin-bottom: 50px;"></span>

<footer class="footer pl-3 text-muted footer-formatting fixed-bottom custom-gray-container">
    <div class="container">
        &copy; 2023 - ChatRPG
    </div>
</footer>
