@using Microsoft.AspNetCore.Identity
@using ChatRPG.Data.Models
@using CampaignModel = ChatRPG.Data.Models.Campaign;
@using System.Security.Authentication
@using System.Security.Cryptography.Pkcs
@using ChatRPG.Data
@using ChatRPG.Services
@using Microsoft.AspNetCore.Mvc
@using Environment = ChatRPG.Data.Models.Environment;
@inherits ComponentBase
@inject AuthenticationStateProvider AuthProvider
@inject UserManager<User> UserManager
@inject IPersisterService PersisterService

<div class="container">
    @if (User is not null)
    {
        <div class="row gap-3">
            <div class="col rounded bg-light">
                <h3>Your Campaigns</h3>
                <div class="vstack">
                    @foreach (CampaignModel campaign in Campaigns)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@campaign.Title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@campaign.Characters.First(c => c.IsPlayer).Name</h6>
                                <p class="card-text text-truncate">@(campaign.CustomStartScenario ?? campaign.StartScenario?.Body ?? "No scenario")</p>
                                <p class="card-text">Started @campaign.StartedOn.ToShortDateString()</p>
                                <a href="#" class="card-link">See more ></a>
                            </div>
                        </div>
                    }
                </div>
                <p class="text-muted">Found @(Campaigns.Count) campaign(s).</p>
            </div>
            <div class="col rounded bg-light">
                <h3>Start Scenarios</h3>
                @foreach (StartScenario scenario in StartScenarios)
                {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@scenario.Title</h5>
                            <p class="card-text">@scenario.Body</p>
                            <a href="#" class="card-link">See more ></a>
                        </div>
                    </div>
                }
                <p class="text-muted">Found @(StartScenarios.Count) scenario(s).</p>
            </div>
            <div class="col-5 rounded bg-light">
                <h3>Create a Custom Campaign</h3>
                <div class="form">
                    <div class="mb-3">
                        <label for="inputCharacterName" class="form-label">Character Name*</label>
                        <input type="text" @bind="CharacterName" class="form-control" id="inputCharacterName"/>
                    </div>
                    <div class="mb-3">
                        <label for="inputCampaignTitle" class="form-label">Campaign Title*</label>
                        <input type="text" @bind="CampaignTitle" class="form-control" id="inputCampaignTitle">
                    </div>
                    <div class="mb-3">
                        <label for="inputCustomStartScenario" class="form-label">Custom Start Scenario</label>
                        <textarea class="form-control" @bind="CustomStartScenario" id="inputCustomStartScenario" rows="3"></textarea>
                    </div>
                    <button class="btn btn-primary" @onclick="CreateAndStartCampaign">Create campaign</button>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private User? User { get; set; } = null;
    private List<CampaignModel> Campaigns { get; set; } = new();
    private List<StartScenario> StartScenarios { get; set; } = new();

    [BindProperty]
    private string CharacterName { get; set; } = "";
    
    [BindProperty]
    private string CampaignTitle { get; set; } = "";

    [BindProperty]
    private string CustomStartScenario { get; set; } = "";
    
    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthProvider.GetAuthenticationStateAsync();
        User = await UserManager.GetUserAsync(authState.User)
                    ?? throw new AuthenticationException("User is not authorized");
        Campaigns = await PersisterService.GetCampaignsForUser(User);
        StartScenarios = await PersisterService.GetStartScenarios();
    }

    private async Task CreateAndStartCampaign()
    {
        if (User is null)
        {
            throw new Exception();
        }
        CampaignModel campaign = new (User, CampaignTitle, CustomStartScenario);
        Character player = new Character(campaign, CharacterType.Humanoid, CharacterName, "", true, 100);
        Environment environment = new(campaign, "Start location", "The place where it all began");
        player.Environment = environment;
        campaign.Environments.Add(environment);
        campaign.Characters.Add(player);
        await PersisterService.SaveAsync(campaign);
        // TODO: Redirect to campaign page
        CharacterName = "";
        CampaignTitle = "";
        CustomStartScenario = "";
    }

}